{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-succes">  
  {{message}}
</div>
{% endif %}

  <h1>Kirjaudu sisään</h1>

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control" name="name" value="{{name}}">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>

  <p>
    <h2>Eikö sinulla ole tunnusta?</h2>
    <a href="{{base_path}}/player/new" class="btn btn-success">Luo tunnus</a>
  </p>
{% endblock %}