{% extends "base.html" %}
{% block content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Pelaajan nimi</th>
        <th>Pelaajan joukkue</th>
      </tr>
      <form method="post" action="{{base_path}}/player/{{player.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
    </thead>

    <tbody>
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.team_id}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}