{% extends "base.html" %}
{% block content %}
  <h1>Pelaajan nimi</h1>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Laji:</strong> Lajin nimi</li>
    <li><strong>Pelipaikka:</strong> Paikka</li>
    <li><strong>Joukkueessa:</strong> <label class="label label-danger">Joukkueen nimi</label></li>
    <li><strong>Kätisyys:</strong> Puoli</li>
  </ul>
  <p>
    Pelaajaa kuvaava teksti tulee tähän
  </p>
{% endblock %}